<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cookies</title>
</head>
<body>
    <center> <h1>Cookies</h1> </center>
    <table>
        <thead>
            <tr>
                <th>
                    Key
                </th>
                <th>
                    Values
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {%for key,value in cookies.items%}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td>
                    <a href="{%url 'read-cookie' key%}">Read</a> |
                    <form action="" method="post">
                        {%csrf_token%}
                        <button>
                            <a href="{%url 'delete-cookie' key%}">Delete</a>
                        </button>
                    </form>
                </td>


            </tr>
            <br>
                {%endfor%}
        </tbody>
    </table>
    <h2>Add Cookie</h2>
    <form method="post" action="{% url 'add-cookie'%}" id="addCookieForm">
        {%csrf_token%}
        <div class="form-group">
            <label for="cookie_name">Cookie Name</label>
            <input type="text" class="form-control" name="cookie_name" required>
            
        </div>
        <div class="form-group">
            <label for="cookie_value">Cookie Value</label>
            <input type="text" class="from-group" name="cookie_value" required>
        </div>

   <button type="submit">Add Cookie</button>
    </form>

    <h3>
        <a href="{% url 'delete-cookies' %}">Delete All Cookies</a>
    </h3>
</body>
</html>